
:root{
    --color-bg: #FAEBD7;
    --color-pri: blue;
    --color-hover: black;
    --color-sec: rgb(54, 54, 54);
}

.sofia-sans-condensed{
  font-family: "Sofia Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sofia-sans {
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.mycustomcontainer{
    text-align: center;
    border: solid #e7e7e7 1px;
    border-radius: 2rem;
    /*background-color: #f3f3f3;*/
    margin: 4rem 10%;
    padding: 4rem 0;
    width: 80%;
}
.db0{
    width: 100%;
}
.db{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.contact-link{
  text-decoration: none;
  display: block;
  margin: 12px 0;
  color: inherit;
}
a{
  text-decoration: none;
}



/* FAQ part */

.faq-section{
  background: #fdfdfd;
  min-height: 100vh;
  padding: 10vh 0 0;
}
.faq-title h2{
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 800;
  line-height: 1;
}
.faq-title h2::before{
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: blue;
  bottom: -25px;
  margin-left: -30px;
}
.faq-title p{
    padding: 0 190px;
    margin-bottom: 10px;
}
.faq{
  background: #fff;
  box-shadow: 0 2px  48px  0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.faq .card{
  border: none;
  background: none;
  border-bottom: 1px dashed #cee1f8;
}
.faq .card .card-header{
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s ;
  -moz-transition: all 0.3s ease 0s ;
  -o-transition: all 0.3s ease 0s ;
  transition: all 0.3s ease 0s ;
}
.faq .card .card-header:hover{
  background: rgba(1, 155, 243, 0.1);
  padding-left: 10px;
}
.faq .card .card-header .faq-title{
  width: 100%;
  text-align: left;
  padding: 20px 30px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3e556e;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s ;
  -moz-transition: all 0.3s ease 0s ;
  -o-transition: all 0.3s ease 0s ;
  transition: all 0.3s ease 0s ;
  cursor: pointer;
}
.faq .card .card-header .faq-title .badge{
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  border-radius: 100px;
  background: rgb(0, 157, 255);
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}
.faq .card .card-body{
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #f3f8ff;
}
.faq .card .card-body p{
  font-size: 14px;
  margin-bottom: 14px;
}
@media(max-width:991px){
  .faq{
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title{
    line-height: 26px;
    margin-top: 10px;
  }
}
